/* styles.css */

:root {
    --background-color: #f8f2f8;
    --tiffany-color: #3dc2b5;
    --text-color: #78c7c0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.d-flex{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}

.user-info {
    text-align: center;
    margin: 20px 0;
}

.random-book {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: center;
}
h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: var(--tiffany-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
b1 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: var(--tiffany-color);
    text-align: left;
    margin-left: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
}
p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
    color: var(--text-color);
}
.books-p{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 7px;
    color: var(--text-color);
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: var(--tiffany-color);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: var(--tiffany-color);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
}
a {
    text-decoration: none;
    color: var(--tiffany-color);
    transition: color 0.3s;
}

a:hover {
    color: #c895d7;
}




/*ul {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*li {*/
/*    !*margin: 20px 0;*!*/
/*    font-size: 1.2rem;*/
/*}*/


/*!*form {*!*/
/*!*    !*max-width: 400px;*!*!*/
/*!*    !*margin: 50px auto;*!*!*/
/*!*    display: flex;*!*/
/*!*    flex-direction: column;*!*/
/*!*}*!*/

/*label {*/
/*    font-size: 1.2rem;*/
/*    margin-bottom: 10px;*/
/*}*/

/*input[type="text"] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    font-size: 1rem;*/
/*    box-sizing: border-box;*/
/*    margin-bottom: 20px;*/
/*    border: 2px solid var(--tiffany-color);*/
/*    border-radius: 5px;*/
/*}*/

/*!*button {*!*/
/*!*    !*padding: 10px;*!*!*/
/*!*    font-size: 1rem;*!*/
/*!*    background-color: var(--tiffany-color);*!*/
/*!*    color: white;*!*/
/*!*    border: none;*!*/
/*!*    border-radius: 5px;*!*/
/*!*    cursor: pointer;*!*/
/*!*    transition: background-color 0.3s;*!*/
/*!*}*!*/

/*button:hover {*/
/*    background-color: #c895d7;*/
/*}*/



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}